<div class="sign">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="myModel.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body m-b-20">
            <div class="content-head text-center mbxlg m-t-15">
                <img src="assets/img/icons/plate-1.svg" alt="">
                <h3 class="no-margin mtmd mbsm text-semibold capitalize" *ngIf="!isEdit">{{'deal.add'|translate}}</h3>
                <h3 class="no-margin mtmd mbsm text-semibold capitalize" *ngIf="isEdit">{{'deal.update'|translate}}</h3>
            </div>
            <div *ngIf="loading" class="m-loading">
                <i class="fas fa-spinner fa-spin color-green"></i>
            </div>
            <div class="upload-container mbxxlg" *ngIf="!open && !loading">
                <div class="col-sm-2 m-b-15"></div>
                <div class="col-sm-8 m-b-15">
                    <label tabindex="0" class="lbl-img res-img" for="my-file">
                                <a>  
                                <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                    <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-1" style="height: 50px;"  *ngIf="img8==null">
                                    <img [src]='img8' for="my-file" for="my-file" width="100%" height="125px"
                                     *ngIf="img8!=null">
                                        <input class="input-file" id="my-file" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,8)" class="select-profile-picture">
                                    </div>
                                </a>
                    </label>
                </div>
                <div class="col-sm-2 m-b-15"></div>
            </div>
            <form [formGroup]="form" *ngIf="!loading">
                <div *ngIf="!open">
                    <div class="form-container">
                        <div class="col-xs-12">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" formControlName="ar_name" placeholder="{{'deal.weekely-Arabic-Name'|translate}}" [ngClass]="{'has-error':form.get('ar_name').invalid && form.get('ar_name').dirty}">
                                    <span class="text-danger" *ngIf="form.get('ar_name').invalid && form.get('ar_name').dirty">Required and arabic letters</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" formControlName="en_name" placeholder="{{'deal.weekelys-English-Name'|translate}}" [ngClass]="{'has-error':form.get('en_name').invalid && form.get('en_name').dirty}">
                                    <span class="text-danger" *ngIf="form.get('en_name').invalid && form.get('en_name').dirty">Required and english letters</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 m-t-10">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <textarea formControlName="ar_description" cols="30" rows="2" placeholder="{{'deal.Description-arabic'|translate}}" [ngClass]="{'has-error':form.get('ar_description').invalid && form.get('ar_description').dirty}">
                                    </textarea>
                                    <span class="text-danger" *ngIf="form.get('ar_description').invalid && form.get('ar_description').dirty">Required and arabic letters</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <textarea formControlName="en_description" cols="30" rows="2" placeholder="{{'deal.Description-Elglish'|translate}}" [ngClass]="{'has-error':form.get('en_description').invalid && form.get('en_description').dirty}"></textarea>
                                    <span class="text-danger" *ngIf="form.get('en_description').invalid && form.get('en_description').dirty">Required and english letters</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 m-t-10">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" formControlName="no_persons" placeholder="{{'share.persons'|translate}}" [ngClass]="{'has-error':form.get('no_persons').invalid && form.get('no_persons').dirty}">
                                    <span class="text-danger" *ngIf="form.get('no_persons').invalid && form.get('no_persons').dirty">{{'share.required' |translate}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="number" formControlName="price" placeholder="{{'deal.price'|translate}}" [ngClass]="{'has-error':form.get('price').invalid && form.get('price').dirty}">
                                    <span class="text-danger" *ngIf="form.get('price').invalid && form.get('price').dirty">{{'share.required' |translate}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <div class="checkbox-custom">
                                    <input type="radio" formControlName="subscription_type" [checked]="form.get('subscription_type').value=='7'" value="7" class="form-radio">
                                    <label class="mrlg" for="jeddah">{{languageService.getLanguageOrDefault()=='ar' ? 'اسبوعي':'Weekely'}}</label>
                                    <input type="radio" formControlName="subscription_type" [checked]="form.get('subscription_type').value=='30'" value="30" class="form-radio">
                                    <label class="mrlg" for="jeddah">{{languageService.getLanguageOrDefault()=='ar' ? 'شهري':'Monthly'}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="days">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 " *ngFor="let row of Days">
                                    <div class="feature faq-card text-center mbmd day" (click)="openMeal(row.id)">
                                        <h2 class="no-margin">{{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h2>
                                        <div class="feature-img m-t-10">
                                            <img src="assets/img/icons/arrow_down.svg">
                                        </div>
                                        <p class="mtsm">
                                       {{'deal.choose-meals'|translate}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button (click)="save()" class="btn btn-green mtxxlg" *ngIf="isEdit">
                        {{'share.Save'|translate}}
                </button>
                    <button (click)="save()" class="btn btn-green mtxxlg" *ngIf="!isEdit">
                       {{'share.Save'|translate}}
                </button>
                </div>
                <!-- /////////////////////my Dishes//////////////////// -->
                <div *ngIf="open">
                    <div class="row">
                        <div class="col-sm-2 m-b-15"></div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==1">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-1">
                                            <a>  
                                            <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-1" style="height: 50px;"  *ngIf="img1==null">
                                                <img [src]='img1' for="my-file-1" for="my-file-1" width="100%" height="125px"
                                                 *ngIf="img1!=null">
                                                    <input class="input-file" id="my-file-1" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,1)" class="select-profile-picture">
                                                </div>
                                            </a>
                                </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==2">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-2">
                                                <a>  
                                                <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                    <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-1" style="height: 50px;"  *ngIf="img2==null">
                                                    <img [src]=' img2' for="my-file-2" for="my-file-1" width="100%" height="125px"
                                                     *ngIf="img2!=null">
                                                        <input class="input-file" id="my-file-2" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,2)" class="select-profile-picture">
                                                    </div>
                                                </a>
                                    </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==3">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-3">
                                                    <a>  
                                                    <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                        <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-3" style="height: 50px;"  *ngIf="img3==null">
                                                        <img [src]=' img3' for="my-file-3" for="my-file-3" width="100%" height="125px"
                                                         *ngIf="img3!=null">
                                                            <input class="input-file" id="my-file-3" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,3)" class="select-profile-picture">
                                                        </div>
                                                    </a>
                                        </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==4">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-4">
                                                        <a>  
                                                        <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                            <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-4" style="height: 50px;"  *ngIf="img4==null">
                                                            <img [src]=' img4' for="my-file-4" for="my-file-4" width="100%" height="125px"
                                                             *ngIf="img4!=null">
                                                                <input class="input-file" id="my-file-4" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,4)" class="select-profile-picture">
                                                            </div>
                                                        </a>
                                            </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==5">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-5">
                                                            <a>  
                                                            <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                                <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-5" style="height: 50px;"  *ngIf="img5==null">
                                                                <img [src]=' img5' for="my-file-1" for="my-file-5" width="100%" height="125px"
                                                                 *ngIf="img5!=null">
                                                                    <input class="input-file" id="my-file-5" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,5)" class="select-profile-picture">
                                                                </div>
                                                            </a>
                                                </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==6">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-6">
                                                                <a>  
                                                                <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                                    <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-6" style="height: 50px;"  *ngIf="img6==null">
                                                                    <img [src]=' img6' for="my-file-6" for="my-file-6" width="100%" height="125px"
                                                                     *ngIf="img6!=null">
                                                                        <input class="input-file" id="my-file-6" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,6)" class="select-profile-picture">
                                                                    </div>
                                                                </a>
                                                    </label>
                        </div>
                        <div class="col-sm-8 m-b-15" *ngIf="myOpenDay==7">
                            <label tabindex="0" class="lbl-img res-img" for="my-file-7">
                                                                    <a>  
                                                                    <div class="avatar-img text-center mbmd" style="width: 100%;min-height: 125px;">
                                                                        <img src='assets/img/icons/photo.svg' class="m-t-25" for="my-file-1" style="height: 50px;"  *ngIf="img7==null">
                                                                        <img [src]=' img7' for="my-file-7" for="my-file-7" width="100%" height="125px"
                                                                         *ngIf="img7!=null">
                                                                            <input class="input-file" id="my-file-7" type="file" style="display :none" accept="image/x-png,image/gif,image/jpeg" (change)="onSelectFile($event,7)" class="select-profile-picture">
                                                                        </div>
                                                                    </a>
                                                        </label>
                        </div>

                        <div class="col-sm-2 m-b-15"></div>
                    </div>
                    <div class="menu-items">
                        <div class="me-c " *ngFor="let row of allDish">
                            <div class="product-item menu-item ">
                                <figure class="cover" [ngStyle]="{'background':'url('+ myUrl+ row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }">
                                    <div class="btn-group ">
                                        <div class="checkbox-custom">
                                            <input type="checkbox" (change)="addDishToDay(row.id)" name="unitPurchased" [checked]="row.checked" class="form-radio"><br>
                                        </div>

                                    </div>
                                </figure>
                                <div class="product-info ">
                                    <a routerLink="user/meal-details/{{row.id}}">
                                        <h4 class="no-margin mtmd mbxs ">{{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h4>
                                    </a>
                                </div>
                                <div class="meal-data bt bb mtmd mbmd ">
                                    <span class="br d-inline ">
                <img class="mrsm " src="assets/img/icons/time.svg " >
                {{row.preparation_time_value}} {{'share.'+row.preparation_time_type+''|translate}}  
                </span>
                                    <span class="d-inline ">
                <img class="mrsm " src="assets/img/icons/person.svg " >
                {{row.no_persons}} {{'share.person'|translate}}
                </span>
                                </div>
                                <div class="description bb plxxlg prxxlg pblg ">
                                    <h4 class="no-margin mtxs mbmd text-bold ">{{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}</h4>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button (click)="back()" class="btn btn-green mtxxlg ">
                        {{'share.back'|translate}}
                </button>
                </div>
            </form>
        </div>
    </div>
</div>