.footer-nav:active {
    color: #A2185B
}

.max-height {
    max-height: 30px;
}

.sa-img {
    width: 23px;
    height: 23px;
}
.grocery{
    font-weight: 900px  !important;
    background: #7fb017;
    color: white !important;
    border-radius: 18px;
}