.m-t-30 {
    margin-top: 30px;
}

.price-slider {
    background: #F9F9F9;
    color: #474747;
    padding: 9px 25px;
    display: block;
    /* border-radius: 25px; */
    font-size: 18px;
    border: 1px solid #E9E9E9
}
.grocery-text{
    color: #333;
    font-size: x-large;
    margin-top: 15px;
}
a.collapsed {
    color: #7FB017
}

.list-view .product-item a.more-details {
    width: 33%
}

.checkbox-custom label {
    font: 0 12px/1 Poppins, sans-serif;
    color: #333;
    margin-bottom: 5px;
    /* cursor: pointer; */
}
.empty-text{
    font-weight: bold;
  text-align: center;
}