<main>
    <div class="container">
        <aside class="col-sm-3 d-aside no-padding sticky">
            <app-chief-layout></app-chief-layout>
        </aside>
        <div class="col-sm-9 d-content">
            <div *ngIf="loading" class="m-loading">
                <i class="fas fa-spinner fa-spin color-green"></i>
            </div>
            <div *ngIf="!loading">
                <div class="d-content-c plmd">
                    <div class="closed m-b-10" *ngIf="appprove!='approved'">
                        <p class="no-margin text-center text-semibold">في انتظار التفعيل من الادمن <a style="text-decoration: underline;color:#ddd" ></a> </p>
                    </div>
                    <button type="button" class="btn btn-green btn-bigger width100 mbxxlg" *ngIf="appprove=='approved'" (click)="addDish(null)">{{'dishes.Add-Dish'|translate}}</button>
                    <div class="">
                        <input class="searchTerm" placeholder="{{ 'share.search' | translate }}" [ngModelOptions]="{standalone: true}" [(ngModel)]="filter.SearchField" (keyup)="filter.SearchField && getDishes()" (keypress)="filter.SearchField && getDishes()" />
                    </div>
                    <div class="menu-items mtxlg">
                        <div class="me-c" *ngFor="let row of dishes.data">
                            <div class="product-item menu-item">
                                <figure class="cover" [ngStyle]="{'background':'url('+ myUrl+row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }">
                                </figure>
                                <div class="product-info">
                                    <h3 class="no-margin mtmd mbxs text-bold"> {{languageService.getLanguageOrDefault()=='ar' ? row.category.ar_name :row.category.en_name}}</h3>
                                    <h4 class="no-margin mtxs mbmd text-bold"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h4>
                                </div>
                                <div class="meal-data bt bb mtmd mbmd">
                                    <span class="br d-inline">
                                     <img class="mrsm" src="assets/img/icons/time.svg">
                                       {{'share.In'|translate}} {{row.preparation_time_value}} {{'share.'+row.preparation_time_type+''|translate}} 
                                    </span>
                                    <span class="d-inline">
                                         <img class="mrsm" src="assets/img/icons/person.svg">
                                          {{row.no_persons}} {{'share.person'|translate}} 
                                    </span>
                                </div>
                                <div class="description bb plxxlg prxxlg pblg description">
                                    <h4 class="no-margin mtxs mbmd text-bold">{{'dishes.Description'|translate}}</h4>
                                    <p class="text-center">
                                        {{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}
                                    </p>
                                </div>
                                <!-- <div class="ingredients bb plxxlg prxxlg pblg ptlg">
                                <h4 class="no-margin mtxs mbmd text-bold">Ingredients</h4>
                                <p class="text-center">

                                </p>
                            </div> -->
                                <div class="description plxxlg prxxlg pblg ptlg">
                                    <div class="order-btn">
                                        <a class="btn btn-green d-inline" (click)="addDish(row)">{{'share.Edit'|translate}}</a>
                                        <a (click)="deleteDish(row.id)" class="btn btn-delete d-inline">{{'share.Delete'|translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12">
                        <pagination class="pagination" [maxSize]="18" [totalItems]="dishes.total" [(ngModel)]="dishes.current_page" (pageChanged)="pageChanged($event)" previousText="<<" [disabled]="loading" nextText=">>" [itemsPerPage]="dishes.per_page">
                        </pagination>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>