<div class="d-aside-c br">
    <div class="avatar-img text-center">
        <div class="avatar-img text-center mbmd" style="width: 80%;min-height: 125px;">
            <!-- <img src='assets/img/kitchen.jpg' class="profile" for="my-file-1" *ngIf="userService.currentUser.avatar==null"> -->
            <div class="a-img cover" style="background-image: url('assets/img/kitchen.jpg')" *ngIf="userService.currentUser.avatar==null"></div>
            <img [src]='userService.currentUser.avatar' class=" profile" for="my-file-1" for="my-file-1" *ngIf="userService.currentUser.avatar!=null">
        </div>
        <!-- <div class="a-img cover" [ngStyle]="{'background':'url(' + userService.currentUser.avatar + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }" *ngIf="userService.currentUser.avatar!=null"></div>
            <div class="a-img cover" style="background-image: url('assets/img/kitchen.jpg')" *ngIf="userService.currentUser.avatar==null"></div> -->
    </div>
    <!-- <div class="rate-con mtmd text-center">
        <select name="rating" class="rate-product">
            <option value="{userService.currentUser.rate}}">1</option>
         
        </select>
    </div> -->
    <div class="rate-con mtmd text-center">
        <!-- <star-rating value="5" checkedcolor="#7FB017" uncheckedcolor="#ccc" size="28px">
        </star-rating> -->
    </div>
    <div class="sec-title">
        <h2 class="no-margin mbmd text-semibold text-center">
            {{userService.currentUser.kitchen_owner_name}}
        </h2>
    </div>
    <div class="user-status text-center">
        <span class="capitalize" *ngIf="userService.currentUser.isactive==1">{{'chief-menu.Active'|translate}}</span>
        <span class="capitalize" *ngIf="userService.currentUser.isactive==0">{{'chief-menu.Lock'|translate}}</span>
        <label class="toggle">
            <input type="checkbox" [checked]="userService.currentUser.isactive==1" (change)="Active()">
            <span class="toggle-slider"></span>
        </label>
    </div>

    <nav class="mtxxlg">
        <a routerLink="/chief/dashboard" [class.active]="tabactive=='dashboard'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/view.svg">
                        </span>
            <span>{{'chief-menu.Dashboard'|translate}}</span>
        </a>
        <a *ngIf="userService.currentUser.type=='chief'" routerLink="/chief/dishes" [class.active]="tabactive=='dishes'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/plate-1.svg">
                         </span>
            <span> {{'chief-menu.MyDishes'|translate}}</span>
        </a>

        <a *ngIf="userService.currentUser.type=='grocery'" routerLink="/chief/grocery-item" [class.active]="tabactive=='grocery'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/plate-1.svg">
                         </span>
            <span> {{'chief-menu.grocery-item'|translate}}</span>
        </a>

        <a routerLink="/chief/orders" [class.active]="tabactive=='orders'">
            <span class="icon-c text-center d-inline mrxs">
                                <img src="assets/img/icons/edit-2.svg">
                            </span>
            <span>{{'chief-menu.Orders'|translate}}</span>
        </a>


        <a  *ngIf="userService.currentUser.type=='chief'" routerLink="/chief/menus" [class.active]="tabactive=='menus'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/fork.svg">
                        </span>
            <span>{{'chief-menu.Menus'|translate}}</span>
        </a>
        <a *ngIf="userService.currentUser.type=='chief'" routerLink="/chief/deals" [class.active]="tabactive=='deals'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/calender.svg">
                        </span>
            <span>{{'chief-menu.Weekly-Deals'|translate}}</span>
        </a>
        <a *ngIf="userService.currentUser.type=='chief'" routerLink="/chief/ingredient-calculator" [class.active]="tabactive=='ingredient-calculator'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/calculator.svg">
                        </span>
            <span>{{'chief-menu.Ingredient-Calculator'|translate}}</span>
        </a>
        <a routerLink="/chief/wallet" [class.active]="tabactive=='wallet'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/wallet.svg">
                        </span>
            <span>{{'chief-menu.My-Wallet'|translate}}</span>
        </a>
        <a routerLink="/chief/chef-account" [class.active]="tabactive=='chef-account'">
            <span class="icon-c text-center d-inline mrxs">
                            <img src="assets/img/icons/user-1.svg">
                        </span>
            <span>{{'chief-menu.My-Account'|translate}}</span>
        </a>
        <a (click)="logout()" >
            <span class="icon-c text-center d-inline mrxs">
                <i class="fas fa-sign-out-alt" style="color: #7fb017;"></i>
             </span>
            <span>{{'share.sign-out' | translate}}</span>
        </a>
    </nav>
</div>