<main>
    <div class="container">
        <aside class="col-sm-3 d-aside no-padding sticky">
            <app-chief-layout></app-chief-layout>
        </aside>
        <div class="col-sm-9 d-content">
            <div *ngIf="loading" class="m-loading">
                <i class="fas fa-spinner fa-spin color-green"></i>
            </div>
            <div *ngIf="!loading">
                <div class="d-content-c plmd">
                 
                    <button type="button" class="btn btn-green btn-bigger width100 mbxxlg" (click)="addDish(null)">{{'grocery.add-item'|translate}}</button>
                    <div class="menu-items mtxlg">
                        <div class="me-c" *ngFor="let row of dishes">
                            <div class="product-item menu-item">
                                <figure class="cover" [ngStyle]="{'background':'url('+ myUrl+row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }">
                                </figure>
                                <div class="product-info">
                                    <h3 class="no-margin mtmd mbxs text-bold"> {{languageService.getLanguageOrDefault()=='ar' ? row.category.ar_name :row.category.en_name}}</h3>
                                    <h4 class="no-margin mtxs mbmd text-bold"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h4>
                                </div>
                               
                                <div class="description bb plxxlg prxxlg pblg description">
                                    <h4 class="no-margin mtxs mbmd text-bold">{{'dishes.Description'|translate}}</h4>
                                    <p class="text-center">
                                        {{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}
                                    </p>
                                </div>
                                <!-- <div class="ingredients bb plxxlg prxxlg pblg ptlg">
                                <h4 class="no-margin mtxs mbmd text-bold">Ingredients</h4>
                                <p class="text-center">

                                </p>
                            </div> -->
                                <div class="description plxxlg prxxlg pblg ptlg">
                                    <div class="order-btn">
                                        <a class="btn btn-green d-inline" (click)="addDish(row)">{{'share.Edit'|translate}}</a>
                                        <a (click)="deleteDish(row.id)" class="btn btn-delete d-inline">{{'share.Delete'|translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
