<main>
    <div *ngIf="loading" class="m-loading">
        <div>
            <i class="fas fa-spinner fa-spin color-green"></i>
        </div>
    </div>
    <div *ngIf="!loading">
        <section class="sec-pad hero-img cover hero-border" style="background-image: url('assets/img/cover/homepage.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div class="hero-text">
                            <h2 class="no-margin mbmd">
                                {{'home.orde-Favorite1'|translate}}<br>{{'home.orde-Favorite2'|translate}} 
                            </h2>
                            <p>
                                <span>{{'home.location1'|translate}}</span>,{{'home.location2'|translate}} 
                            </p>
                            <div class="checkbox-custom check-custome m-b-10">
                                <ng-container *ngFor="let row of cities">
                                    <input type="radio" value="{{row.id}}" [checked]="row.id==filter.city_id" [(ngModel)]="filter.city_id" id="jeddah" class="form-radio check-custome-form">
                                    <label class="mrlg" style="color:white" for="jeddah"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</label>
                                </ng-container>
                            </div>

                            <div class="select-container mbxlg">
                                <div class="custom-select" for="category">
                                    <select id="category" [(ngModel)]="filter.category_id">
                                                <option value="0">
                                                    {{'home.Select-Category'|translate}}
                                                    </option>
                                        <option *ngFor="let row of categories" value="{{row.id}}">
                                                {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                            </option>
                                    </select>
                                </div>
                                <a class="btn btn-green btn-search" (click)="search()">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </section>
        <section class="sec-pad hero-img cover" style="background-image: url('assets/img/cover/homepage-1.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 rtl-margin">
                        <div class="hero-text hero-black">
                            <h2 class="no-margin mbmd">
                                 {{'home.orde-Favorite1'|translate}}<br>{{'home.orde-Favorite2'|translate}} 
                            </h2>
                            <p class="mbxxlg">
                                <span>{{'home.location1'|translate}}</span>,{{'home.location2'|translate}}
                            </p>
                            <a routerLink="/user/search/0/0/0" class="btn btn-green text-upper">{{'home.order-now'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-pad ball">
            <div class="container">
                <div class="features">
                    <div class="row">
                        <div class="col-sm-3 br">
                            <div class="feature text-center">
                                <div class="feature-img">
                                    <img src="assets/img/icons/quality.svg">
                                </div>
                                <h3> {{'home-four.Quality'|translate}}</h3>
                                <p>
                                    {{'home.quality-text'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 br">
                            <div class="feature text-center">
                                <div class="feature-img">
                                    <img src="assets/img/icons/fast.svg">
                                </div>
                                <h3> {{'home-four.Fast-Delivery'|translate}}</h3>
                                <p>
                                    {{'home.delivery-text'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3 br">
                            <div class="feature text-center">
                                <div class="feature-img">
                                    <img src="assets/img/icons/plate.svg">
                                </div>
                                <h3>{{'home-four.Various-Cusines'|translate}}</h3>
                                <p>
                                    {{'home.different-Kitchen'|translate}}
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="feature text-center">
                                <div class="feature-img">
                                    <img src="assets/img/icons/chat.svg">
                                </div>
                                <h3>{{'home-four.Live-Chat'|translate}}</h3>
                                <p>
                                    {{'home.Live-Chat'|translate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pad">
            <div *ngIf="loadingtwo" style="position: absolute; background-color: rgba(255, 255, 255, 0.6); width: 100%; height: 100%; z-index: 100000">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <i class="fas fa-spinner fa-spin color-green"></i>
                </div>
            </div>
            <div class="container">
                <div class="category">
                    <div class="section-title mbxxlg">
                        <h2 class="text-capitalize text-center no-margin">{{'home.new-meals'|translate}}</h2>
                    </div>
                    <div class="row">
                        <div>
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)" [config]="slideConfig">
                                <div class="col-lg-4 col-md-4 col-xs-4 col-ms-4" ngxSlickItem *ngFor="let row of newMeal">

                                    <div class="col-lg-12 col-md-12 col-xs-12 col-ms-12 mtsm mbsm mrsm mlsm">
                                        <div class="product-item">
                                            <figure class="img-responsive" [ngStyle]="{'background':'url(' + row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }">
                                                <div class="btn-group">
                                                    <button type="button" class="btn dropdown-toggle" (click)=addToFavourite(row.id)>
                                                        <i class="fas fa-heart" *ngIf="row.customers.length==0"></i>
                                                        <i class="fas fa-heart color-red" *ngIf="row.customers.length>0"></i>
                                                    </button>
                                                </div>
                                            </figure>

                                            <a routerLink="/user/search/0/0/{{row.chief_id}}" class="btn btn-green text-upper">{{'share.order'|translate}}</a>
                                            <!-- /chief/kitchen/1 -->
                                            <div class="product-info">
                                                <star-rating value="{{row.average_rating}}" checkedcolor="#7FB017" uncheckedcolor="#ccc" size="28px" readonly="false">
                                                </star-rating>
                                                <h3 class="no-margin mtmd mbmd">
                                                    <a routerLink="/user/meal-details/{{row.id}}">
                                                        {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                                     </a>
                                                </h3>
                                                <div class="price">
                                                    <span *ngIf='row.days.length==0'> {{row.price}}</span>
                                                    <del *ngIf='row.days.length>0' class="del-red">  {{row.price}}</del>
                                                    <span *ngIf='row.days.length>0'>{{row.price - row.days[0].pivot.dis_count_value}}</span> {{'share.SAR'|translate}}
                                                    <span *ngIf='row.ready_now==1'> {{'share.Ready-Now'|translate}}</span>
                                                </div>

                                                <div class="meal-data mtmd mbmd">
                                                    <span class="mrlg">
                                                <img class="mrsm" src="assets/img/icons/time.svg" >
                                                {{'share.In'|translate}} {{row.preparation_time_value}} {{'share.'+row.preparation_time_type+''|translate}} 
                                                </span>
                                                    <span>
                                                    <img class="mrsm" src="assets/img/icons/person.svg"  >
                                                    {{row.no_persons}} {{'share.person'|translate}} 
                                                </span>
                                                </div>
                                            </div>
                                            <a (click)="openMealModal(row)" class="more-details">
                                              
                                               {{'share.More-details'|translate}} 
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pad hero-img cover overlay back-fixed" style="background-image: url('assets/img/cover/deals.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="hero-text text-center">
                            <h2 class="no-margin mbmd">
                                {{'home.weekly'|translate}}<br> {{'home.Deals'|translate}}
                            </h2>
                            <p class="mbxxlg text-center">
                                {{'home.weekly-par'|translate}}
                            </p>
                            <a routerLink="/user/weekely-deals" class="btn btn-green text-upper d-inline"> {{'home.Learn-more'|translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pad">
            <div class="container">
                <div class="category">
                    <div class="section-title mbxxlg">
                        <h2 class="text-capitalize text-center no-margin"> {{'home.Popular-Meals'|translate}}</h2>
                    </div>
                    <div class="row">
                        <div class="product-slider">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let row of popularMeal" class="slide">

                                    <div class="mtsm mbsm mrsm mlsm">
                                        <div class="product-item">
                                            <figure class="cover" [ngStyle]="{'background':'url(' + row.img1+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' ,'background-position':'center'}">
                                                <div class="btn-group">
                                                    <button type="button" class="btn dropdown-toggle" (click)=addToFavourite(row.id)>
                                        <i class="fas fa-heart" *ngIf="row.customers.length==0"></i>
                                        <i class="fas fa-heart color-red" *ngIf="row.customers.length>0"></i>
                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li *ngIf="!row.favorite"><a (click)=addToFavourite(row.id)>Add To favourite</a></li>
                                                        <li *ngIf="row.favorite"><a (click)=addToFavourite(row.id)>Remove from favourite</a></li>
                                                        <li><a href="#">Share</a></li>
                                                    </ul>
                                                </div>
                                            </figure>
                                            <a routerLink="/user/search/0/0/{{row.chief_id}}" class="btn btn-green text-upper">  {{'share.order'|translate}}</a>
                                            <div class="product-info">

                                                <star-rating value="{{row.average_rating}}" checkedcolor="#7FB017" uncheckedcolor="#ccc" size="28px" readonly="true">
                                                </star-rating>
                                                <h3 class="no-margin mtmd mbmd">
                                                    <a routerLink="/user/meal-details/{{row.id}}">
                                                        {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}
                                                    </a>
                                                </h3>
                                                <div class="price">

                                                    <span *ngIf='row.days.length==0'> {{row.price}}</span>
                                                    <del *ngIf='row.days.length>0' class="del-red">  {{row.price}}</del>
                                                    <span *ngIf='row.days.length>0'>{{row.price - row.days[0].pivot.dis_count_value}}</span> {{'share.SAR'|translate}}
                                                    <span *ngIf='row.ready_now==1'> {{'share.Ready-Now'|translate}}</span>
                                                </div>


                                                <div class="meal-data mtmd mbmd">
                                                    <span class="mrlg">
                                        <img class="mrsm" src="assets/img/icons/time.svg"  >
                                        {{'share.In'|translate}}  {{row.preparation_time_value}} {{'share.'+row.preparation_time_type+''|translate}} 
                                    </span>
                                                    <span>
                                        <img class="mrsm" src="assets/img/icons/person.svg"  >
                                        {{row.no_persons}}  {{'share.person'|translate}}
                                    </span>
                                                </div>
                                            </div>
                                            <a (click)="openMealModal(row)" class="more-details">
                                             
                                               {{'share.More-details'|translate}}
                                               
                                        </a>
                                        </div>
                                    </div>

                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pad hero-img cover back-fixed" style="background-image: url('assets/img/cover/homepage.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="hero-text text-center">
                            <h2 class="no-margin mbmd">
                                {{'share.Subscribe-now'|translate}}
                            </h2>
                            <p class="mbxxlg text-center">
                                {{'home.recive-deals'|translate}}

                            </p>
                            <form class="hero-form hero-subscribe mtxlg" [formGroup]="form">
                                <div class="checkbox-custom">
                                    <!-- <ng-container *ngFor="let row of cities">
                                        <input type="radio" name="location" value="jeddah" id="jeddah" class="form-radio">
                                        <label class="mrlg" for="jeddah"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</label>
                                    </ng-container> -->

                                </div>
                                <div class="input-group mtxlg">
                                    <input formControlName="email" type="text" [ngClass]="{'has-error':form.get('email').invalid && form.get('email').dirty}" class="form-control" placeholder="{{'home.type-email'|translate}}">
                                    <span class="text-danger" *ngIf="form.get('email').invalid && form.get('email').dirty">{{'share.required' |translate}}</span>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" (click)="subscribe()"><i class="fa fa-paper-plane"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sec-pad">
            <div class="container">
                <div class="category">
                    <div class="section-title mbxxlg">
                        <h2 class="text-capitalize text-center no-margin">{{'home.brand'|translate}}</h2>
                    </div>
                    <div class="row">
                        <div class="brands-slider">
                            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" (init)="slickInit($event)" [config]="slideConfig">
                                <div ngxSlickItem *ngFor="let row of brands" class="slide">

                                    <a class="brand">
                                        <div class="logo text-center">
                                            <img src="{{myUrl}}/{{row.img}}">
                                        </div>
                                        <h3 class="mtlg text-center"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h3>
                                    </a>

                                </div>
                            </ngx-slick-carousel>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec-pad hero-img cover app">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hero-text hero-black">
                            <h2 class="no-margin mbmd text-upper">
                                {{'home.Get-our-app'|translate}}
                            </h2>
                            <p>
                                {{'home.app-par'|translate}}

                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="download">
                            <a class="mbmd">
                                <img src="assets/img/icons/app_store.svg">
                            </a>
                            <a>
                                <img src="assets/img/icons/play_store.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="hand">
                    <img src="assets/img/hand.png">
                </div>
            </div>
        </section>


    </div>
</main>