<main>
    <div class="container">
        <aside class="col-sm-3 d-aside no-padding sticky">
            <app-chief-layout></app-chief-layout>
        </aside>
        <div class="col-sm-9 d-content">
            <div *ngIf="loading" class="m-loading">
                <i class="fas fa-spinner fa-spin color-green"></i>
            </div>
            <div *ngIf="!loading">
                <div class="d-content-c plmd">
                    <button type="button" class="btn btn-green btn-bigger width100 mbxxlg" [disabled]="appprove!='approved'" (click)="addWeekely()">{{'deal.add'|translate}} </button>
                    <div class="weekly">
                        <div class="menu-items order-items">
                            <ng-container *ngFor="let row of Data">
                                <div class="me-c">
                                    <div class="product-item menu-item">
                                        <figure class="cover" [ngStyle]="{'background':'url('+myUrl+row.img+ ')', 'background-repeat': 'no-repeat', 'background-size': 'cover','background-position':'center' }">
                                        </figure>
                                        <div class="product-info">
                                            <h4 class="no-margin mtmd mbxs"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_name :row.en_name}}</h4>
                                        </div>
                                        <div class="meal-data bt bb mtmd mbmd">
                                            <span class="br d-inline">
                <img class="mrsm" src="assets/img/icons/time.svg"  >
                {{row.days.length}} {{'share.day'|translate}}
            </span>
                                            <span class="d-inline">
                <img class="mrsm" src="assets/img/icons/person.svg"  >
               {{row.no_persons}} {{'share.person'|translate}}
            </span>
                                        </div>
                                        <div class="description bb plxxlg prxxlg pblg">
                                            <h4 class="no-margin mtxs mbmd text-bold"> {{languageService.getLanguageOrDefault()=='ar' ? row.ar_description :row.en_description}}</h4>
                                        </div>
                                        <div class="description plxxlg prxxlg pblg ptlg">
                                            <div class="order-btn">
                                                <a (click)="addWeekely(row)" class="btn btn-green d-inline">{{'share.Edit'|translate}}</a>
                                                <a (click)="Delete(row.id)" class="btn btn-delete d-inline">{{'share.Delete'|translate}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>